# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Heavy models
src-python/models/

# PyInstaller & Tauri Binaries
build/
dist/
*.spec
src-tauri/binaries/*
!src-tauri/binaries/sidecar-aarch64-apple-darwin
!src-tauri/binaries/sidecar-x86_64-apple-darwin
!src-tauri/binaries/sidecar-x86_64-pc-windows-msvc.exe


# Custom ignore
new-update.md
src-tauri/binaries/sidecar-aarch64-apple-darwin/ffmpeg
src-tauri/binaries/sidecar-aarch64-apple-darwin/sidecar-aarch64-apple-darwin
src-tauri/binaries/sidecar-x86_64-apple-darwin/ffmpeg
src-tauri/binaries/sidecar-x86_64-apple-darwin/sidecar-x86_64-apple-darwin
src-tauri/binaries/sidecar-x86_64-pc-windows-msvc/ffmpeg.exe
src-tauri/binaries/sidecar-x86_64-pc-windows-msvc/sidecar-x86_64-pc-windows-msvc.exe

